HTTP_ADDR=:8080
HTTP_READ_HEADER_TIMEOUT=5s

POSTGRES_VERSION=17-alpine
POSTGRES_DB=NAME_DB
POSTGRES_USER=USER_DB
POSTGRES_PASSWORD=PASSWORD_HERE
POSTGRES_PORT=5432
POSTGRES_CONTAINER_PORT=5432


DATABASE_URL=postgres://USER_DB:PASSWORD_HERE@localhost:5432/NAME_DB?sslmode=disable
CORS_ALLOWED_ORIGINS=http://localhost:5173,tauri://localhost,http://tauri.localhost
DB_MAX_CONNS=10
DB_MIN_CONNS=1
DB_CONNECT_TIMEOUT=5s
SHUTDOWN_TIMEOUT=10s
